.tag-elem {
    display: inline-block;
}

.tag-elem::after {
    display: inline-flex;
    box-sizing: border-box;
    height: 14px;
    align-items: center;
    padding: 0 4px;
    border-radius: 3px;
    margin: 0 4px;
    background-color: var(--trans-light-background);
    color: var(--light-fore);
    font-family: inherit;
    font-size: 11px;
    font-weight: var(--font-weight-normal);
    line-height: 14px;
}

.tieba-tags-me::after {
    content: "我";
}

.tieba-tags-lz::after {
    background-color: #7c3aed;
    color: #fff;
    content: "楼主";
}

.tieba-tags-cz::after {
    background-color: #15803d;
    color: #fff;
    content: "层主";
}
