html {
    padding: 0;
    margin: 0;
    text-align: justify;
}

body {
    overflow: hidden scroll;
    padding: 0;
    margin: 0;
    font-family: var(--code-zh);
    font-weight: var(--font-weight-normal);

    &[no-scrollbar] {
        overflow: hidden;
    }
}

div,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-bold);
}

select {
    padding: 1px 8px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    cursor: pointer;
}

option {
    cursor: pointer;
}

option:checked {
    background-color: var(--tieba-theme-color);
    color: var(--default-background);
}

a {
    color: unset;
    text-decoration: none;
    word-break: break-all;
}

.dialogJ {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}
