// 图标
%icon,
%outline-icon {
    font-family: "Material Symbols", monospace !important;
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 40;
    font-weight: normal;
    user-select: none;
}

%filled-icon {
    font-family: "Material Symbols", monospace !important;
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 40;
    font-weight: normal;
    user-select: none;
}

// 超链接
%anchor {
    color: var(--tieba-theme-fore);
    cursor: pointer;
    text-decoration: none;
    transition: var(--default-duration);
}

%anchor-underline {
    @extend %anchor;
    text-decoration: underline 1.2px;
}

%anchor-noback {
    cursor: pointer;
    text-decoration: none;
    transition: var(--default-duration);
}

%anchor:hover,
%anchor-underline:hover {
    background-color: var(--default-hover);
}

%anchor-underline:hover {
    text-decoration: underline 1.2px rgba($color: #000, $alpha: 0%);
}

%anchor-noback:hover {
    color: var(--tieba-theme-fore);
}

%anchor:active,
%anchor-underline:active {
    background-color: var(--default-active);
}

%anchor-noback:active {
    color: var(--tieba-theme-active);
}

// 头像
%avatar-fit {
    object-fit: contain;
}

@mixin blur-effect($radius: 24px) {
    html[glass-effect] & {
        backdrop-filter: blur($radius);
    }

    html[glass-effect].dark-theme & {
        backdrop-filter: blur($radius) brightness(0.8);
    }
}

@mixin raster-effect($back-color: var(--trans-page-background),
    $base-color: var(--page-background), $size: 4px, $radius: 4px) {
    background-color: $back-color;
    background-image: radial-gradient(transparent 1px, $base-color 1px);
    background-size: $size $size;

    html[glass-effect] & {
        backdrop-filter: saturate(0.8) blur($radius);
    }
}

@mixin main-box-shadow($offset-x: 0, $offset-y: 0) {
    box-shadow: $offset-x $offset-y 10px rgba($color: #000, $alpha: 20%);

    html.dark-theme & {
        box-shadow: $offset-x $offset-y 16px rgba($color: #000, $alpha: 40%);
    }
}

@mixin blur-if-custom-background {
    body.custom-background & {
        @include blur-effect;
    }
}
